*{
    box-sizing: border-box;
    margin: 0;

}

#text_enter{
    border: 10px solid gray;
    margin-left: 30%;
    margin-right: 30%;
}
textarea{
    border: none;
}
header{
    padding: 4%;
    text-align: center;
    background-color: rgb(13,26,45);
    color: white;
}
article{
    padding: 2%;
    /* text-align: center; */
    background-color: rgb(74,148,143);
    color: white;
}
article p{
    margin-left: 30%;
    margin-right: 30%;

}
.test-area{
    text-align: center;
}
#text-area{
    width: 99%;
}
button{
    margin: 2%;
}
#timer{
    padding: 2%;
   
}
#text_content p{
    background-color: rgb(237,236,237);
    padding: 3%;
    margin-left: 30%;
    margin-right: 30%;

}
